<!DOCTYPE html>
<html>
<head>
  <title>表示選択画面</title>
  <meta charset="utf-8">
  <link href="" rel="stylesheet">
</head>
<body>
    <button onclick="history.back()" class="">戻る</button>
    <button class="" type="button">ログアウト</button>
    <h1>授業：{{params.subject}}</h1>
    <form action="/attendance_check" method="POST">
      <input type="hidden" name="subject" value="{{ params.subject }}">
      <input type="submit" value="出欠確認">
    </form> 


    <form action="/student_list" method="POST">
    <input type="hidden" name="subject" value="{{ params.subject }}">
    <input type="submit" value="成績一覧">
    </form> 
</body>
</html>