<!DOCTYPE html>
<html>
<head>
  <title>生徒の詳細画面</title>
  <meta charset="utf-8">
  <link href="" rel="stylesheet">
</head>
<body>
    <h2><br>　　　　生徒詳細</h2>
    <img src="/static/student_images/user.png" alt="" title="">
    {{ params.student.id }}
    {{ params.student.name }}
    <img src="/{{ params.image }}" />
    <form action="/view_profile/{{ params.student.id }}"  methods="POST">

      <input type="submit" value="出席率">
    </form>
    {% for testkey, testname in params.test_names.items() %}
    <form action="/view_profile/{{ params.student.id }}/score_graph_{{testkey}}"  methods="POST">

      <input type="submit" value="{{ testname }}">
    </form>
    {% endfor %}

</body>
</html>

